<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>


<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- formulario -->
			<h2 class="col-12">
				<form action="/users/login" method="POST">
					<label for="email">Usuario:</label>
					<input type="text" id="email" name="email" required ><br><br>
					
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" required ><br><br>
				
					<label for="rememberme">Recordarme:</label>
					<input type="checkbox" id="recordar" name="rememberMe"><br><br>
					<input type="submit" value="Iniciar sesión" class="button">
					<% if (errorMessage) { %>
						<div style="color: red;">
							<%= errorMessage %>
						</div>
					<% } %>
				  </form>
			</h2>
			<%- include('./partials/footer') %>

</body>

</html>