<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>



<body>
	<%- include('./partials/headerLogueado') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/products/productAdd" method="POST">
					<label for="image">Imagen:</label>
					<input type="text" id="image" name="image" placeholder="Escribe la URL" ><br><br>
				
					<label for="name">Nombre:</label>
					<input type="text" id="name" name="name" placeholder="Nombre del producto"><br><br>
					
					<label for="description">Descripción:</label>
					<textarea id="description" name="description" placeholder="Descripcion del producto"></textarea><br><br>
				
					<input type="submit" value="CREAR" class="button">
				</form>
			<%- include('./partials/footer') %>

</body>

</html>